.sq-file-droplet {

	width: inherit;
	text-align: left;
	height: 56px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	float: left;

	.delete {
		top: 0px !important;
		margin-top: 0px;
		padding-right: 6px;
		padding-left: 6px;
		z-index: 10;
		line-height: 10px !important;
		right: 0px !important;
		font-size: 8px !important;
	}

	input {
		cursor: pointer;
		pointer-events: none;
	}

	input, label {
		transition: all 0s ease-out;
	}

}
