.sq-input-text {

	& {
		direction: ltr !important;
		position: relative;
		float: left;
		display: inline-block;
		width: inherit;
		height: $sq-input-border-height + $sq-input-label-height + $sq-input-input-line-height + (( $sq-input-input-height - $sq-input-input-line-height));
		font-weight: 300;
		text-align: left;
		border-bottom: solid $sq-input-border-height $sq-input-bar-default;
		margin-bottom: $sq-input-margin-bottom;
	}

	input, label {
		margin-top: $sq-input-label-height;
		line-height: $sq-input-input-line-height + ( $sq-input-input-height - $sq-input-input-line-height);
		min-height: $sq-input-input-line-height + ( $sq-input-input-height - $sq-input-input-line-height);
		font-size: $sq-input-input-font-size;
		width: inherit;
	}

	input, textarea {
		overflow:hidden;
		display: inline-block;
		outline: none;
		position: absolute;
		border: none;
		background: none;
		color: $sq-input-input-default;
		font-weight: 400;
		margin-bottom: (( $sq-input-input-height - $sq-input-input-line-height)/2);
	}

	.after, .before {
		pointer-events: none;
		visibility: hidden;
		transition: left 0s;
		color: $sq-input-input-valid;
	}

	p {
		font-size: $sq-input-label-height;
		text-align: right;
		color: $sq-input-label-default;
		position: absolute;
		padding-top: 4px;
		width: 100%;
		opacity: 0;
		top: $sq-input-border-height + $sq-input-label-height + $sq-input-input-line-height + (( $sq-input-input-height - $sq-input-input-line-height));
	}

	//

	textarea {
		margin-top: $sq-input-label-height + (( $sq-input-input-height - $sq-input-input-line-height)/2);
		line-height: $sq-input-input-line-height;
		min-height: $sq-input-input-line-height;
		font-size: $sq-input-input-font-size;
		width: inherit;
	}

	textarea {
		overflow: hidden;
    	resize: none;
	}

	//

	label {
		pointer-events: none;
		position: absolute;
		color: $sq-input-label-default;
	}

	&.filled {
		label {
			line-height: $sq-input-label-height;
			font-size: $sq-input-label-height;
			margin-top: 0px;
		}
		.after, .before {
			visibility: visible;
		}
	}

	&.valid {
		border-bottom: solid $sq-input-border-height $sq-input-bar-valid;
		input, textarea {
			color: $sq-input-input-valid;
		}
		label {
			color: $sq-input-label-valid;
		}
	}

	&.invalid {
		input, label, textarea {
			color: $sq-input-invalid;
		}
		border-bottom: solid 2px $sq-input-invalid;
	}

	&.focus {
		border-bottom: solid $sq-input-border-height $sq-input-bar-focus;
		label {
			color: $sq-input-label-focus;
		}
		input:focus, textarea:focus {
			color: $sq-input-input-focus;
		}
		p {
			opacity: 1;
		}
	}

	&.disabled {
		input {
			color: $sq-input-input-default;
		}
	}

	&.keep-left {
		input, label {
			text-align: left !important;
		}
	}

}

.sq-input-rtl {
	label {
		text-align: right;
	}
	input, textarea, p {
		text-align: right;
		direction: rtl;
		unicode-bidi: embed;
	}
	p {
		text-align: left;
	}
}

.sq-input-text {

	&.medium {

		& {
			height: $sq-input-border-height + $sq-input-label-height + $sq-input-input-line-height + (( $sq-input-input-height - $sq-input-input-line-height)) - $sq-input-medium;
		}

		input, label {
			margin-top: $sq-input-label-height;
			line-height: $sq-input-input-line-height + ( $sq-input-input-height - $sq-input-input-line-height) - $sq-input-medium;
			min-height: $sq-input-input-line-height + ( $sq-input-input-height - $sq-input-input-line-height) - $sq-input-medium;
			font-size: $sq-input-input-font-size - $sq-input-medium;
		}

		p {
			top: $sq-input-border-height + $sq-input-label-height + $sq-input-input-line-height + (( $sq-input-input-height - $sq-input-input-line-height)) - $sq-input-medium;
		}

		textarea {
			line-height: $sq-input-input-line-height - $sq-input-medium;
			min-height: $sq-input-input-line-height - $sq-input-medium;
			font-size: $sq-input-input-font-size - $sq-input-medium;
		}

		&.filled {
			label {
				line-height: $sq-input-label-height;
				font-size: $sq-input-label-height;
				margin-top: 0px;
			}
		}

	}

}

.sq-input-text {

	&.large {

		& {
			height: $sq-input-border-height + $sq-input-label-height + $sq-input-input-line-height + (( $sq-input-input-height - $sq-input-input-line-height)) + $sq-input-medium;
		}

		input, label {
			margin-top: $sq-input-label-height;
			line-height: $sq-input-input-line-height + ( $sq-input-input-height - $sq-input-input-line-height) + $sq-input-medium;
			min-height: $sq-input-input-line-height + ( $sq-input-input-height - $sq-input-input-line-height) + $sq-input-medium;
			font-size: $sq-input-input-font-size + $sq-input-medium;
		}

		p {
			top: $sq-input-border-height + $sq-input-label-height + $sq-input-input-line-height + (( $sq-input-input-height - $sq-input-input-line-height)) + $sq-input-medium;
		}

		textarea {
			line-height: $sq-input-input-line-height + $sq-input-medium;
			min-height: $sq-input-input-line-height + $sq-input-medium;
			font-size: $sq-input-input-font-size + $sq-input-medium;
		}

		&.filled {
			label {
				line-height: $sq-input-label-height;
				font-size: $sq-input-label-height;
				margin-top: 0px;
			}
		}

	}

}
