// INPUT
$sq-input-bar-focus: #899DBC;
$sq-input-label-focus: #899DBC;
$sq-input-input-focus: #ADBDD4;

$sq-input-bar-valid: #6B7A97;
$sq-input-label-valid: #6B7A97;
$sq-input-input-valid: #6B7A97;

$sq-input-bar-default: #899DBC;
$sq-input-label-default: #899DBC;
$sq-input-input-default: #ADBDD4;

$sq-input-invalid: #FF8282;

//SIZES
$sq-input-border-height: 2px;
$sq-input-label-height: 12px; 
$sq-input-input-font-size: 22px;
$sq-input-input-height: 42px;
$sq-input-input-line-height: 32px;
$sq-input-margin-bottom: 30px;

// DROPDOWN
$sq-dropdown-padding: 15px;
$sq-dropdown-item: #6B7A97;
$sq-dropdown-item-selected: #899DBC;
$sq-dropdown-item-descriptior: #ADBDD4;
$sq-dropdown-item-hover: rgba(0,0,0,0.05);


//
$sq-input-font: "Roboto", sans-serif;